{% extends 'base.html' %}

{% block header %}
<h1>Info</h1>
{% endblock %}

{% block contents %}
<!-- Create a div where the graph will take place -->
<div>
    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    <img id = "erikpic" src="/static/images/erik.jpg" width="100px"></img>
    <h3 id="erikname">Erik Nordby</h1>
    <p id = "erikpar">Hi, I'm currently a Senior here at Pitt studying Computer Science. My main goal for this project was to be able to get my hands dirty with JavaScript. 
        For most of my undergraduate career, the classes I have chosen to take have leaned more towards mathematics and "data science" (i.e. Intro to ML, Cloud Computing, Intro to Mathematical Statistics, etc). 
        So, I never really delved much into the world of Web Dev. One of the main things that I was excited to learn about during this hackathon was D3. I had used some data visualization tools in the past (e.g. RShiny).
        But, I heard that using JavaScript and D3 allow for significantly more flexibility. While I didn't finish everything I had hoped to, it was really fun to get to explore a side of Computer Science that I had little to no experience in.
    </p>

    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    <img id = "erikpic" src="/static/images/erik.jpg" width="100px"></img>
    <h3 id="erikname">Erik Nordby</h1>
    <p id = "erikpar">Hi, I'm currently a Senior here at Pitt studying Computer Science. My main goal for this project was to be able to get my hands dirty with JavaScript. 
        For most of my undergraduate career, the classes I have chosen to take have leaned more towards mathematics and "data science" (i.e. Intro to ML, Cloud Computing, Intro to Mathematical Statistics, etc). 
        So, I never really delved much into the world of Web Dev. One of the main things that I was excited to learn about during this hackathon was D3. I had used some data visualization tools in the past (e.g. RShiny).
        But, I heard that using JavaScript and D3 allow for significantly more flexibility. While I didn't finish everything I had hoped to, it was really fun to get to explore a side of Computer Science that I had little to no experience in.
    </p>

    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    <img id = "erikpic" src="/static/images/erik.jpg" width="100px"></img>
    <h3 id="erikname">Erik Nordby</h1>
    <p id = "erikpar">Hi, I'm currently a Senior here at Pitt studying Computer Science. My main goal for this project was to be able to get my hands dirty with JavaScript. 
        For most of my undergraduate career, the classes I have chosen to take have leaned more towards mathematics and "data science" (i.e. Intro to ML, Cloud Computing, Intro to Mathematical Statistics, etc). 
        So, I never really delved much into the world of Web Dev. One of the main things that I was excited to learn about during this hackathon was D3. I had used some data visualization tools in the past (e.g. RShiny).
        But, I heard that using JavaScript and D3 allow for significantly more flexibility. While I didn't finish everything I had hoped to, it was really fun to get to explore a side of Computer Science that I had little to no experience in.
    </p>

    
</div>


{% endblock %}