{% extends 'base.html' %}

{% block header %}
<h1>Info</h1>
{% endblock %}

{% block contents %}
<!-- Create a div where the graph will take place -->
<div>
    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    

    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    <h3 id="jackname">Jackson Perry</h1>
    <p id = "jackpar">Hi, I'm a Computer Science major graduating this upcoming Spring. In my freetime I am on the club triathalon team
        and I love to bike around Pittsburgh. My main goals for this project were to learn more about how to leverage cloud computing tools 
        specifically Google Cloud and Firebase. It has been really fun being able to work on a project that has a good cause behind it while 
        also learning some new skills.

    </p>

    <style type="text/css">
        #erikpic {display:inline-block; width:150px; padding:10px}
        #erikname {display:inline-block; width:75%; padding:10px}
    </style>
    <h3 id="nickname">Nick Calvaresi</h1>
    <p id = "nickpar">I'm a Statistics major at Pitt. In my free time I enjoy swimming and water polo. My main goal for this project was to get some hands on experience working more with Python and Data Visualization. 
        As a Stats major I am definitely most comfortable using R, but there is so much exciting work that can be done using Python. So, I thought this Hackathon would be a great place for me to test out working with Python.
     </p>

    <h3 id="erikname">Erik Nordby</h1>
        <p id = "erikpar">Hi, I'm currently a Senior here at Pitt studying Computer Science. My main goal for this project was to be able to get my hands dirty with JavaScript. 
            For most of my undergraduate career, the classes I have chosen to take have leaned more towards mathematics and "data science" (i.e. Intro to ML, Cloud Computing, Intro to Mathematical Statistics, etc). 
            So, I never really delved much into the world of Web Dev. One of the main things that I was excited to learn about during this hackathon was D3. I had used some data visualization tools in the past (e.g. RShiny).
            But, I heard that using JavaScript and D3 allow for significantly more flexibility. While I didn't finish everything I had hoped to, it was really fun to get to explore a side of Computer Science that I had little to no experience in.
        </p>

    
</div>


{% endblock %}