{% extends 'base.html' %}



{% block header%}
<h1>Friends</h1>
{% endblock %}

{% block contents %}
<table width="100%" style="height: 100%;">
<tr class="tbl-header">
	<td width="33%">
		<h1>My Friends</h1>
	</td>

	<td width="33%">
		<h1>Suggested Friends</h1>
	</td>

	<td width="33%">
		<h1>Remove Friend</h1>
	</td>
</tr>

<tr class="tbl-body">
	<td rowspan="2">
        <ul>
		    {% for friend in friends %}
            <li>{{friend}}</li>
            {% endfor %}
        </ul>
	</td>

	<td>
        <ul>
        	<li>[links to potential friends]
		{% for person in suggested_friends %}
            <li>suggested friendo</li>
        {% endfor %}
        </ul>
	</td>

	<td>
		stuff to remove friend
	</td>
</tr>
</table>
{% endblock %}