<!-- Load d3.js -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>


{% extends 'base.html' %}

{% block header %}
<h1>Info</h1>
{% endblock %}

{% block contents %}
<!-- Create a div where the graph will take place -->
<div>
    <p>According to <a href="https://newsnetwork.mayoclinic.org/discussion/mayo-clinic-minute-the-benefits-of-being-socially-connected/">the Mayo Clinic </a>
    and countless studies, socializing with friends, family, and strangers is a foundational aspect of maintaining good mental health. 
        With the onset of COVID, socializing has become an increasingly challenging task. This is especially difficult for people who have lost loved ones,
    have gone through a breakup, or have been alienated from their family. In order to combat this, we have built a platform for isolated people to reach out to others in simmilar situations.
    Below we have some charts and graphs visualizing some relevant data.</p>
</div>

<div id="dash", height="800px">
    <iframe src="https://dashhack.ue.r.appspot.com/", height="800px", width="100%"></iframe>
</div>
<div>
    Below can be seen two maps of the United States with each stated colored to re[resent the level of depression. The top map contains the data pre-covid while the bottom contains data from July. 
</div>

<div id="map"></div>
<div id="gender"></div>
<script type="text/javascript" src="../static/javascript/info.js"></script>
{% endblock %}